
:root {
    --med-width: 550px;
    --med-height: 450px;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
}
.contentWrapper {
    display: flex;
}

.gameOptions {

    display:flex;
    
    justify-content: space-evenly;
    height: 10vh;
    
}
.gameOptions button {
    font-size: 1.2em;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 15px;
}
.mainWrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 5rem;
    margin-bottom: 0;
    margin-top: 50px;
    font-weight: 900;
}
.resultsWrapper {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hiddenForm {
    border: 1px solid black;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
}

.hiddenForm p {
    margin: 0;
}
form {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.results:empty {
    padding:0;
}
.results {
    font-size: 2rem;
    background-color: black;
    padding: 2px 10px;
    border-radius: 10px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
}

main {
    width: var(--med-width);
    height: var(--med-height);
}

.gridContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1px;
    width: 100%;
    height: 100%;
}

.gridOverlay {
    width: var(--med-width);
    height: var(--med-height);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.gridDiv {
    background-color: black;
    opacity: .5;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: white;
    transition: all 500ms;
    cursor: pointer;
}

.gridContainer div:hover {
opacity: .6;
}

.resetBtn {
    margin-top: 50px;
    width: 100px;
    height: 50px;
    font-size: 2rem;
    border-radius: 10px;
    transition: all, 500ms;
}

.resetBtn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.winner {
    opacity: 1;
    font-size: 4rem;
    color: green;
}

.clicksDisabled {
    pointer-events: none;
}

.draw {
    opacity: .2;
}

.hidden {
    opacity: 0;
}

.z-index {
    z-index: 1;
}

.noDisplay {
    display: none;
}

.active {
    background-color: green;
}